/*
    Author:         Vishnu Kumar
    Description:    We can use this CSS to convert apex:inputField lookup in slds UI.
    Wiki: https://bitbucket.org/seemapatilBFL/reusable-components/wiki/Lookup%20Beautify%20CSS
*/

.lookupInput a {
    position: absolute;
    width: 28px !important;
    height: 28px !important;
    margin-left: 5px;
    background-image: url(/img/setup/search-icon.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: inline-flex !important;
}

.lookupInput input {
    width: 88% !important;
}

.lookupInput a img {
    display: none !important;
}

div.slds-input .lookupInput input {
    border: 1px solid #dddbda;
    width: 64% !important;
    margin-left: 2px;
    height: 32px;
    border-radius: 3px;
    padding-left: 8px;
}

div.slds-input {
    border: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
}

div.slds-input select {
    border-radius: 4px;
    width: 150px !important;
    background: white;
    border-color: #dddbda;
    float: left;
    height: 32px !important;
}

div.slds-input .lookupInput a {
    border: 1px solid #dddbda !important;
    height: 32px !important;
}